body{
  overflow-x: hidden;
}


.slick-dots {
    display: block;
    text-align: center;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 1.2px;
    
  }
  
  .slick-dots li button {
    color: #fff;
    border: none;
    background: #bbb;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    cursor: pointer;
    
  }
  .slick-dots {
    position: absolute;
    bottom: 1px; /* Adjust this value to move the dots up */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  .slick-dots li.slick-active button {
    background: #fffefe;
  }

  

 .grid .slick-prev,
.grid .slick-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.ab:hover .slick-prev,
.ab:hover .slick-next {
    opacity: 0.5;
}
.grid img{
border-radius: 20px;
position: relative;
  height: 255px;
 width:350px;
}
.ab{
  padding: 5px;
  
 
}
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}