body{
  overflow-x: hidden;
}


.slick-dots {
    display: block;
    text-align: center;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 0.075rem;
    
  }
  
  .slick-dots li button {
    color: #fff;
    border: none;
    background: #bbb;
    border-radius: 50%;
    width: 0.313rem;
    height: 0.313rem;
    cursor: pointer;
    
  }
  .slick-dots {
    position: absolute;
    bottom: 0.063rem; /* Adjust this value to move the dots up */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  .slick-dots li.slick-active button {
    background: #fffefe;
  }

  

 .grid .slick-prev,
.grid .slick-next {
    opacity: 0;
    transition: opacity 0.3s ease;
}


.ab:hover .slick-prev,
.ab:hover .slick-next {
    opacity: 0.5;
}
.grid img{
border-radius: 1.25rem;
position: relative;
  height: 15.938rem;
 width:21.875rem;
}
.ab{
  padding: 0.313rem;
  
 
}

