.foot{
   
    position: sticky;
    top: 0;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}
.foot-container{
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}
.btn1{
    position: sticky;
    background-color: rgb(70, 68, 68);
    border-radius: 2.5rem;
    margin-top:1.25rem;
    width: 8.125rem;
    height:3.438rem;
   color: rgb(255, 255, 255);
}
.p7{
  transform: translateY(10px);
  margin-left: 0.625rem;

}
.p8{
    margin-top: -1.938rem;transform: translate(0.813rem);
}
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}