.btn{
    background: transparent;
    border: none;
    position: fixed;
    position: sticky;
    background-color: green;   
    transition: 0.5s ease; 
    transform: translateY(-32vh);  
     outline: none;
     color: rgb(248, 244, 244);
     float: right;
     
}
.btn i:hover{
    cursor: pointer;
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 0rem 0rem;
}
.btn:active{
    border-style: outset;
}
@media screen and (max-width: 1254px) {
    .btn{
        background: transparent;
        border: none;
        position: fixed;
        position: sticky;
        background-color: green;   
        transition: 0.5s ease; 
        transform: translateY(-16rem);  
         outline: none;
         color: rgb(248, 244, 244);
         float: right;
         
    }
}
@media screen and (max-width: 950px) {
    .btn{
        background: transparent;
        border: none;
        position: fixed;
        position: sticky;
        background-color: green;   
        transition: 0.5s ease; 
        transform: translateY(-13rem);  
         outline: none;
         color: rgb(248, 244, 244);
         float: right;
         
    }
}