.btn{
    background: transparent;
    border: none;
    position: fixed;
    position: sticky;
    background-color: green;   
    transition: 0.5s ease; 
    transform: translateY(-32vh);  
     outline: none;
     color: rgb(248, 244, 244);
     float: right;
     
}
.btn i:hover{
    cursor: pointer;
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 0rem 0rem;
}
.btn:active{
    border-style: outset;
}
