.btn{
    background: transparent;
    border: none;
  
    margin: 3%;
            position: relative;
    position: sticky;
    background-color: green;   
    transition: 0.5s ease; 
    transform: translateY(-300px);  
     outline: none;
     color: rgb(248, 244, 244);
     left: 220px;
     
}
.btn i:hover{
    cursor: pointer;
}

.btn:focus{
    outline: none;
    box-shadow: 0 0 0rem 0rem;
}
.btn:active{
    border-style: outset;
}
