.toggle-container{
  width: 100%;
}
.toggle-wrapper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 0.5px solid black;
    border-radius: 13px;
    position: relative;
  left: 650px;

}

.toggler1{
position: relative;
top: -2vh;
right: 2vw;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent:-624.938rem;
  width: 2.5rem;
  height: 1.563rem;
  background: grey;
  display: block;
  border-radius: 6.25rem;
  position: relative;
}

label:after {
  content: '✓';
  position: absolute;
  top: 3.5px;
  
  left: 0.219rem;
  width:1.25rem;
  height:1.25rem;
  background: #fff;
  border-radius: 5.625rem;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;

}

input:checked + label:after {
  left: calc(100% - 0.688rem);
  transform: translateX(-50%);

}

label:active:after {
  width: 1.25rem;
}
.toggler .vr{
  height:1.5em;
  position: relative;
  bottom: -0.390rem;
  transform: translate(110px);
  top:33px;
}
.column {
  width: 100%;
}


body{
  margin:0;
  width:100vw;
  height:100vh;
}
.p15{
  font-weight: bold;
position: relative;
top:72px;
right: 40px;

  
}
.p17{
 
  position: relative;
  left: 130px;
  top:3px;

}

.toggler1{
 
  margin-left: 37vmin;
  transform: translateY(-5.4vmin);
}
.toggler{

  margin-left: 9vmin;
   transform: translateY(-3vmin);
  }

