.toggle{
  width:50%;
  transform: translateY(-13px);
}

.toggle-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 50%;
  max-width: 62.5rem;
  margin: 4.563rem auto 0 auto;
   position: relative;
   right: -26.25rem;
   top:-1.875rem;
   border:0.063rem solid black;
   border-radius:0.688rem;
   
  
}
.toggler{
  position: relative;
  top:0.75rem;
  left: -5.625rem;
}
.toggler1{
  position: relative;
  right: -32.938rem;
  top: -2.25rem;
  
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent:-624.938rem;
  width: 2.5rem;
  height: 1.563rem;
  background: grey;
  display: block;
  border-radius: 6.25rem;
  position: relative;
}

label:after {
  content: '✓';
  position: absolute;
  top: 3.5px;
  
  left: 0.219rem;
  width:1.25rem;
  height:1.25rem;
  background: #fff;
  border-radius: 5.625rem;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;

}

input:checked + label:after {
  left: calc(100% - 0.688rem);
  transform: translateX(-50%);

}

label:active:after {
  width: 1.25rem;
}
.toggler .vr{
  height:1.5em;
  position: relative;
  bottom: -0.375rem;
}
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}