.toggle-container{
  width: 100%;
}
.toggle-wrapper{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 0.5px solid black;
    border-radius: 0.813rem;
    position: relative;
  left: 40.625rem;

}

.toggler1{
position: relative;
top: -21.6px;
right: 19.44px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent:-624.938rem;
  width: 2.5rem;
  height: 1.563rem;
  background: grey;
  display: block;
  border-radius: 6.25rem;
  position: relative;
}

label:after {
  content: '✓';
  position: absolute;
  top: 3.5px;
  
  left: 0.219rem;
  width:1.25rem;
  height:1.25rem;
  background: #fff;
  border-radius: 5.625rem;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;

}

input:checked + label:after {
  left: calc(100% - 0.688rem);
  transform: translateX(-50%);

}

label:active:after {
  width: 1.25rem;
}
.toggler .vr{
  height:1.5em;
  position: relative;
  bottom: -0.390rem;
  transform: translate(6.875rem);
  top:2.063rem;
}
.column {
  width: 100%;
}


body{
  margin:0;
  width:100vw;
  height:100vh;
}
.p15{
  font-weight: bold;
position: relative;
top:4.5rem;
right: 2.5rem;

  
}
.p17{
 
  position: relative;
  left: 8.125rem;
  top:0.188rem;

}

.toggler{

  margin-left: 9vmin;
   transform: translateY(-3vmin);
  }

  @media screen and (max-width: 1254px) {
    .toggle-container{
      width: 100%;
    }
    .toggle-wrapper{
      display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        border: 0.5px solid black;
        border-radius: 0.813rem;
        position: relative;
      left: 21.5rem;
    
    }
  }